<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# from google.colab import drive
# drive.mount('/content/drive')
# # !git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
# %cd Financial-Data-Analysis
# !pwd

In [8]:
import pandas as pd

In [9]:
aapl = pd.read_csv("./Assignment1/Data/1AAPL.csv")
txn = pd.read_csv("./Assignment1/Data/2TXN.csv")
grmn = pd.read_csv("./Assignment1/Data/3GRMN.csv")
hlit = pd.read_csv("./Assignment1/Data/4HLIT.csv")
qmco = pd.read_csv("./Assignment1/Data/5QMCO.csv")

In [10]:
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-07-01,0.336964,0.342500,0.330536,0.340893,0.289349,180992000
1,2003-07-02,0.339821,0.346429,0.339643,0.344107,0.292077,325298400
2,2003-07-03,0.339286,0.349107,0.338929,0.341607,0.289955,137771200
3,2003-07-07,0.344107,0.360357,0.341607,0.354821,0.301171,286272000
4,2003-07-08,0.348571,0.366071,0.348036,0.364286,0.309205,256737600
...,...,...,...,...,...,...,...
5030,2023-06-26,186.830002,188.050003,185.229996,185.270004,185.020157,48088700
5031,2023-06-27,185.889999,188.389999,185.669998,188.059998,187.806381,50730800
5032,2023-06-28,187.929993,189.899994,187.600006,189.250000,188.994781,51216800
5033,2023-06-29,189.080002,190.070007,188.940002,189.589996,189.334320,46347300
5034,2023-06-30,191.630005,194.479996,191.259995,193.970001,193.708420,85069600

In [11]:
txn

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-07-01,17.600000,17.700001,17.209999,17.620001,11.689507,12634300
1,2003-07-02,17.750000,18.250000,17.750000,18.219999,12.087561,11681100
2,2003-07-03,18.049999,18.110001,17.750000,17.750000,11.775753,6452500
3,2003-07-07,18.250000,18.930000,18.250000,18.889999,12.532047,16172600
4,2003-07-08,18.889999,19.150000,18.549999,19.070000,12.651468,13610100
...,...,...,...,...,...,...,...
5030,2023-06-26,168.490005,170.979996,168.020004,168.750000,167.572586,4899600
5031,2023-06-27,169.830002,176.570007,169.490005,176.309998,175.079834,6257800
5032,2023-06-28,174.649994,176.380005,174.279999,174.960007,173.739258,3425300
5033,2023-06-29,175.929993,177.039993,174.410004,176.789993,175.556488,3704700
5034,2023-06-30,178.880005,180.539993,178.330002,180.020004,178.763962,6004400

In [12]:
grmn

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-07-01,19.799999,19.950001,19.260000,19.434999,10.642602,1287200
1,2003-07-02,19.475000,20.725000,19.430000,20.535000,11.244959,1292200
2,2003-07-03,20.600000,20.799999,20.250000,20.330000,11.132702,455600
3,2003-07-07,20.375000,20.570000,20.045000,20.325001,11.129963,1184400
4,2003-07-08,20.160000,21.420000,20.150000,21.235001,11.628284,1127200
...,...,...,...,...,...,...,...
5030,2023-06-26,101.570000,102.699997,101.570000,102.480003,102.480003,540000
5031,2023-06-27,102.370003,103.660004,102.230003,103.500000,103.500000,492100
5032,2023-06-28,103.059998,103.459999,102.000000,102.379997,102.379997,619800
5033,2023-06-29,102.000000,103.940002,101.730003,103.599998,103.599998,767900
5034,2023-06-30,103.760002,104.669998,103.550003,104.290001,104.290001,909100

In [13]:
hlit

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-07-01,4.060000,4.260000,3.960000,4.100000,4.100000,235400
1,2003-07-02,4.080000,4.500000,4.080000,4.490000,4.490000,686300
2,2003-07-03,4.410000,4.590000,4.360000,4.410000,4.410000,281700
3,2003-07-07,4.510000,4.650000,4.450000,4.650000,4.650000,322800
4,2003-07-08,4.610000,4.700000,4.550000,4.600000,4.600000,255200
...,...,...,...,...,...,...,...
5030,2023-06-26,16.650000,16.760000,16.299999,16.379999,16.379999,1711100
5031,2023-06-27,16.379999,16.530001,16.010000,16.030001,16.030001,1723900
5032,2023-06-28,16.010000,16.240000,15.920000,16.030001,16.030001,1171500
5033,2023-06-29,16.059999,16.620001,16.059999,16.190001,16.190001,1269300
5034,2023-06-30,16.340000,16.450001,16.150000,16.170000,16.170000,1803900

In [14]:
qmco

,Date,Open,High,Low,Close,Adj Close,Volume
0,2003-07-01,32.400002,33.919998,31.600000,32.400002,32.400002,82550
1,2003-07-02,32.799999,35.759998,32.799999,34.560001,34.560001,97938
2,2003-07-03,34.000000,34.320000,32.400002,32.560001,32.560001,29763
3,2003-07-07,33.360001,38.880001,33.360001,38.880001,38.880001,124600
4,2003-07-08,39.919998,39.919998,37.200001,38.160000,38.160000,65488
...,...,...,...,...,...,...,...
5030,2023-06-26,1.090000,1.120000,0.970000,1.030000,1.030000,564300
5031,2023-06-27,1.040000,1.080000,1.030000,1.040000,1.040000,96700
5032,2023-06-28,1.050000,1.130000,1.050000,1.110000,1.110000,642000
5033,2023-06-29,1.150000,1.150000,1.080000,1.120000,1.120000,179400
5034,2023-06-30,1.140000,1.150000,1.060000,1.080000,1.080000,119300