<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
# !git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
%cd Financial-Data-Analysis
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/Financial-Data-Analysis
/content/Financial-Data-Analysis

In [2]:
import pandas as pd

def daily_rtn(x):
  rtn = [None] + [(x["Adj Close"][i+1] - x["Adj Close"][i])/x["Adj Close"][i] for i in range(len(x["Adj Close"]) - 1)]
  return rtn

def p1_data(x):
  x["Daily Rtn"] = daily_rtn(x)
  display(x[["Date", "Adj Close", "Daily Rtn"]])

aapl = pd.read_csv("./Assignment1/Data/1AAPL.csv")
txn = pd.read_csv("./Assignment1/Data/2TXN.csv")
grmn = pd.read_csv("./Assignment1/Data/3GRMN.csv")
hlit = pd.read_csv("./Assignment1/Data/4HLIT.csv")
qmco = pd.read_csv("./Assignment1/Data/5QMCO.csv")

In [3]:
p1_data(aapl)

            Date   Adj Close  Daily Rtn
0     2003-07-01    0.289349        NaN
1     2003-07-02    0.292077   0.009428
2     2003-07-03    0.289955  -0.007265
3     2003-07-07    0.301171   0.038682
4     2003-07-08    0.309205   0.026676
...          ...         ...        ...
5030  2023-06-26  185.020157  -0.007553
5031  2023-06-27  187.806381   0.015059
5032  2023-06-28  188.994781   0.006328
5033  2023-06-29  189.334320   0.001797
5034  2023-06-30  193.708420   0.023103

[5035 rows x 3 columns]

In [4]:
p1_data(txn)

            Date   Adj Close  Daily Rtn
0     2003-07-01   11.689507        NaN
1     2003-07-02   12.087561   0.034052
2     2003-07-03   11.775753  -0.025796
3     2003-07-07   12.532047   0.064225
4     2003-07-08   12.651468   0.009529
...          ...         ...        ...
5030  2023-06-26  167.572586   0.006381
5031  2023-06-27  175.079834   0.044800
5032  2023-06-28  173.739258  -0.007657
5033  2023-06-29  175.556488   0.010460
5034  2023-06-30  178.763962   0.018270

[5035 rows x 3 columns]

In [5]:
p1_data(grmn)

            Date   Adj Close  Daily Rtn
0     2003-07-01   10.642602        NaN
1     2003-07-02   11.244959   0.056599
2     2003-07-03   11.132702  -0.009983
3     2003-07-07   11.129963  -0.000246
4     2003-07-08   11.628284   0.044773
...          ...         ...        ...
5030  2023-06-26  102.480003   0.009059
5031  2023-06-27  103.500000   0.009953
5032  2023-06-28  102.379997  -0.010821
5033  2023-06-29  103.599998   0.011916
5034  2023-06-30  104.290001   0.006660

[5035 rows x 3 columns]

In [6]:
p1_data(hlit)

            Date  Adj Close  Daily Rtn
0     2003-07-01   4.100000        NaN
1     2003-07-02   4.490000   0.095122
2     2003-07-03   4.410000  -0.017817
3     2003-07-07   4.650000   0.054422
4     2003-07-08   4.600000  -0.010753
...          ...        ...        ...
5030  2023-06-26  16.379999  -0.016216
5031  2023-06-27  16.030001  -0.021367
5032  2023-06-28  16.030001   0.000000
5033  2023-06-29  16.190001   0.009981
5034  2023-06-30  16.170000  -0.001235

[5035 rows x 3 columns]

In [7]:
p1_data(qmco)

            Date  Adj Close  Daily Rtn
0     2003-07-01  32.400002        NaN
1     2003-07-02  34.560001   0.066667
2     2003-07-03  32.560001  -0.057870
3     2003-07-07  38.880001   0.194103
4     2003-07-08  38.160000  -0.018519
...          ...        ...        ...
5030  2023-06-26   1.030000  -0.046296
5031  2023-06-27   1.040000   0.009709
5032  2023-06-28   1.110000   0.067308
5033  2023-06-29   1.120000   0.009009
5034  2023-06-30   1.080000  -0.035714

[5035 rows x 3 columns]