<a href="https://colab.research.google.com/github/HYChangTAMU/Financial-Data-Analysis/blob/main/Assignment1/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
from google.colab import drive
drive.mount('/content/drive')
# !rm -r Financial-Data-Analysis
# !git clone https://github.com/HYChangTAMU/Financial-Data-Analysis.git
%cd Financial-Data-Analysis
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/Financial-Data-Analysis
/content/Financial-Data-Analysis

In [91]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50)


# calculate daily return including dividends
def daily_rtn(x):
  rtn = [None] + [(x["Dividends"][i+1] + x["Close"][i+1] - x["Close"][i])/x["Close"][i] if not pd.isna(x["Dividends"][i+1]) else (x["Close"][i+1] - x["Close"][i])/x["Close"][i]for i in range(len(x["Close"]) - 1)]
  return rtn


# show data with daily return
def p1_data(x):
  x["Daily Rtn"] = daily_rtn(x)
  display(x[["Date", "Close", "Dividends", "Daily Rtn"]])


# setup the dataframes
# AAPL, TXN, and GRMN have historical dividends
# HLIT and QMCO did not pay dividend, so their dividends column are all NaN
aapl = pd.merge(pd.read_csv("./Assignment1/Data/1AAPL.csv"), pd.read_csv("./Assignment1/Data/1AAPL_div.csv"), on = "Date", how = "outer")
txn = pd.merge(pd.read_csv("./Assignment1/Data/2TXN.csv"), pd.read_csv("./Assignment1/Data/2TXN_div.csv"), on = "Date", how = "outer")
grmn = pd.merge(pd.read_csv("./Assignment1/Data/3GRMN.csv"), pd.read_csv("./Assignment1/Data/3GRMN_div.csv"), on = "Date", how = "outer")
hlit = pd.read_csv("./Assignment1/Data/4HLIT.csv")
hlit["Dividends"] = np.nan
qmco = pd.read_csv("./Assignment1/Data/5QMCO.csv")
qmco["Dividends"] = np.nan

In [92]:
p1_data(aapl)

            Date       Close  Dividends  Daily Rtn
0     2003-07-01    0.340893        NaN        NaN
1     2003-07-02    0.344107        NaN   0.009428
2     2003-07-03    0.341607        NaN  -0.007265
3     2003-07-07    0.354821        NaN   0.038682
4     2003-07-08    0.364286        NaN   0.026675
...          ...         ...        ...        ...
5030  2023-06-26  185.270004        NaN  -0.007553
5031  2023-06-27  188.059998        NaN   0.015059
5032  2023-06-28  189.250000        NaN   0.006328
5033  2023-06-29  189.589996        NaN   0.001797
5034  2023-06-30  193.970001        NaN   0.023103

[5035 rows x 4 columns]

In [135]:
aapl[4619:4623][["Date", "Close", "Dividends", "Daily Rtn"]]

            Date       Close  Dividends  Daily Rtn
4619  2021-11-03  151.490005        NaN   0.009799
4620  2021-11-04  150.960007        NaN  -0.003499
4621  2021-11-05  151.279999       0.22   0.003577
4622  2021-11-08  150.440002        NaN  -0.005553

In [137]:
aapl[4619:4623]["Dividends"].sum()

0.22